<%- include("partials/header") %>

<h1>Main Page</h1>
<p>
  This is a blog-style website built with Node that use a Mongo Database to persist its content. <br />
  To make a new post, click the PI button int he bottom-left corner.
</p>

<!-- THIS LISTS OLDEST POSTS FIRST, (FIX IN THE FUTURE?) -->


<% content.forEach((post) => { %>

  <h1> <%= post.title %> </h1>

<p> <%= post.content.substring(0,99)+"...";  %> <a href="/post/<%=post._id%>">Read More</a> </p>
<%})%>





<%-include("partials/footer") %>
