<%- include("partials/header") %>

<h1>Main Page</h1>
<p>
  To make a new post, click the <em>pi</em> button in the bottom right.
</p>

<!-- THIS LISTS OLDEST POSTS FIRST, (FIX IN THE FUTURE?) -->


<% content.forEach((post) => { %>

  <h1> <%= post.title %> </h1>

<p> <%= post.content.substring(0,99)+"...";  %> <a href="/post/<%=post._id%>">Read More</a> </p>
<%})%>





<%-include("partials/footer") %>
