<%- include("partials/header") %>


<h1> <%= title %> </h1>

<p> <%= content %> </p>

<div class="">
<form action="/delete" method="post">
  <button class="btn btn-secondary" type="submit" name="deleteButton" value="<%=currentPostID %>">Delete</button>
</form>
</div>

<%- include("partials/footer") %>
